extends ../layouts/common

block content
    
    div(class="container")
        h1 Our Products
        div(class="d-flex")
            a(href="/products/create", class="btn btn-primary mb-2") Add a new Product
            a(href="/", class="btn btn-primary mb-2 ml-2") Back to homepage
        
        div 
            form(action="/products/search" method="GET")
                label(for="search", class="mt-2") Search
                input(type="text" name="q", id="search", class="ml-2 form-control")
                //- a(href="/products/search/", class="ml-2 btn btn-primary mt-2") Search for product

       
        
        div(class="row")
            each product in products
                div(class="col-sm-3 mr-0.5")
                    .card(style='width: 18rem;')
                        img.card-img-top(src=product.image, alt='...')
                    .card-body
                        h5(class="card-title")= product.name 
                        p(class="card-text")= product.description
                        
                        a.btn.btn-primary(href='#') Add to cart
    
        nav(aria-label='Page navigation example')
            ul.pagination
                if page == --maxPage
                    li.page-item
                    a.page-link(href='products?page='+--page) Previous
                    li.page-item
                    a.page-link(href='products?page=' + ++page)=page
                    li.page-item
                    a.page-link(href='products?page=' + ++page)=page
                else if page < ++maxPage
                    li.page-item
                    a.page-link(href='products?page='+--page) Previous
                    li.page-item
                    a.page-link(href='products?page=' + ++page)=page
                    li.page-item
                    a.page-link(href='products?page=' + ++page)=page
                    li.page-item
                    a.page-link(href='products?page=' + ++page)=page
                    li.page-item
                    a.page-link(href='products?page='+ ++page) Next
            
                